{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<section class="title container">
  <div class="row">
    <div class="col-md-12">
      <h2>Добро пожаловать в парсер книг магазина "Читай Город"</h2>
      <div class="seperator"></div>
      <p>Для регистрации запроса нажмите на кнопу "Запрос"</p>
    </div>
  </div>
</section>
<div class="text-center">
  <img width="1000" height="auto" class="mt-4" src="https://i.gifer.com/embedded/download/LEHm.gif">
</div>
{% endblock %}